10_morphological_operations/.ipynb_checkpoints/
4_convolution/.ipynb_checkpoints/
4_convolution/4_convolution.ipynb
5_frequency_domain/.ipynb_checkpoints/
6_segmentation_otsu/.ipynb_checkpoints/
/9.6 Comparación de métodos de segmentación/.ipynb_checkpoints
